<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<section name="PineSection" type="Pine.PineSection"/>
	</configSections>
	<PineSection defaultConnectionStringName="ConnectionString" defaultCacheDuration="500">
		<!--<Notics enableCaching="true" cacheDuration="86400" pageSize="10" providerType="PWS.DAL.SqlClient.SqlNoticProvider"/>
    <Shop pageSize="10" providerType="PWS.DAL.SqlClient.SqlShopProvider" cacheDuration="120"/>-->
		<!--<Chat enableCaching="true" pageSize="10" providerType="Pine.Dal.SqlClient.SqlChatProvider" cacheDuration="120"/>-->
		<Store enableCaching="false" pageSize="10" providerType="Pine.Dal.SqlClient.SqlStoreProvider" cacheDuration="120"/>
		<Menu enableCaching="true" pageSize="10" providerType="Pine.Dal.SqlClient.SqlMenuProvider" cacheDuration="120"/>
		<Statistics enableCaching="true" pageSize="10" providerType="Pine.Dal.SqlClient.SqlStatisticsProvider" cacheDuration="120"/>
		<Core enableCaching="false" providerType="Pine.Dal.SqlClient.SqlCoreProvider" cacheDuration="120"/>
		<Blog enableCaching="false" providerType="Pine.Dal.SqlClient.SqlBlogProvider" cacheDuration="120"/>
		<Advertisement enableCaching="false" providerType="Pine.Dal.SqlClient.SqlAdvertisementProvider" cacheDuration="120"/>
	</PineSection>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=PC01\SQL2008;Initial Catalog=PORTAL;User ID=sa;Password=123"/>
		<add name="PORTALConnectionString" connectionString="Data Source=PC01\SQL2008;Initial Catalog=PORTAL;Persist Security Info=True;User ID=sa;Password=123" providerName="System.Data.SqlClient"/>

 
	</connectionStrings>
	<system.web>
		<anonymousIdentification enabled="true " cookieName=".pineportal" cookieTimeout="2880"/>
		<authentication mode="Forms">
			<forms loginUrl="~/Login.aspx" timeout="30" defaultUrl="~/Default.aspx"/>
		</authentication>
		<membership defaultProvider="AspNetSqlMembershipProvider" userIsOnlineTimeWindow="15">
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
				
			</providers>
		</membership>
		<profile>
			<properties/>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ConnectionString" applicationName="/"/>
			</providers>
		</profile>
		<roleManager enabled="true">
			<providers>
				<clear/>
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ConnectionString" applicationName="/"/>
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
			</providers>
		</roleManager>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Net.Http, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </assemblies></compilation>
		<pages>
			<controls>
				<add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI"/>
			</controls>
		</pages>
		<httpHandlers>
			<add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false"/>
			<add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false"/>
			<add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false"/>
			<add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false"/>
			<add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false"/>
		</httpHandlers>
		<httpModules>
			<add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule"/>
			<add name="RadCompression" type="Telerik.Web.UI.RadCompression"/>
		</httpModules>
	</system.web>
	<appSettings/>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="RadUploadModule"/>
			<remove name="RadCompression"/>
			<add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" preCondition="integratedMode"/>
			<add name="RadCompression" type="Telerik.Web.UI.RadCompression" preCondition="integratedMode"/>
		</modules>
		<handlers>
			<remove name="ChartImage_axd"/>
			<remove name="Telerik_Web_UI_SpellCheckHandler_axd"/>
			<remove name="Telerik_Web_UI_DialogHandler_aspx"/>
			<remove name="Telerik_RadUploadProgressHandler_ashx"/>
			<remove name="Telerik_Web_UI_WebResource_axd"/>
			<add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode"/>
			<add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode"/>
			<add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode"/>
			<add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode"/>
			<add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode"/>
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
		</handlers>
	</system.webServer>
</configuration>
